<div class="modal fade" id="modal-select-contacts" tabindex="-1" role="dialog" aria-labelledby="modal-default-header">                        
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close close-btn" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true" class="icon-cross-circle"></span></button>
				<div class="modal-header">                        
					<h4 class="modal-title" id="modal-default-header">Select contact</h4>
				</div>
				<div class="modal-body">
					<contact-selector-template class="block block-condensed margin-top-20"></contact-selector-template>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-default btn-action">Yes, Delete</button>
				</div>
			</div>
		</div>            
	</div>