<div class="modal fade" id="modal-import-google-notice" tabindex="-1" role="dialog" aria-labelledby="modal-default-header">                        
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close close-btn" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true" class="icon-cross-circle"></span></button>
			<div class="modal-header">                        
				<h4 class="modal-title" id="modal-default-header">Import contacts from Google</h4>
			</div>
			<div class="modal-body">
				<div class="block">
					<div class="block-content">
						<p>You may import existing contacts from one or more Google accounts. However, we require full name of the user to be present in your existing contact record in order to import it into our system. All contains containing first and last name will be imported, up to the maximum of 1000 contacts. Would you like to continue and start import?</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-default btn-action">Yes, continue</button>
			</div>
		</div>
	</div>            
</div>