<div class="modal fade" id="modal-day-clicked" tabindex="-1" role="dialog" aria-labelledby="modal-default-header">                        
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close close-btn" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true" class="icon-cross-circle"></span></button>
			<div class="modal-header">                        
				<h4 class="modal-title" id="modal-default-header">What would you like to do?</h4>
			</div>
			<div class="modal-body">
				<div class="block">
					<div class="block-content">
						<a href="#" class="app-widget-button app-widget-button-lg"><span class="icon-alarm"></span></a> 
						<a href="#" class="app-widget-button app-widget-button-lg app-widget-button-bordered app-widget-button-primary"><span class="icon-star"></span></a> 
						<a href="#" class="app-widget-button app-widget-button-lg app-widget-button-ghost app-widget-button-info"><span class="icon-thumbs-up"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>            
</div>